body {
  margin: 0px;

  min-height: 100vh;

  background-color: #2F2E41;
}

.page {
  width: 1000px;
  margin: 0 auto;
  padding-top: 71px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 101px;
  width: 1092px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 64px;
}

a {
  text-decoration: none;
  color: white;
}

ul li a {
  opacity: 1;
  
  font-family: "JetBrains Mono", monospace;
}

ul li a:hover {
  font-weight: bold;
  opacity: 0.5;
}

.main {
  display: flex;
  justify-content: space-between;

  width: 1092px;

  margin-top: 101px;
  margin-bottom: 157px;
}

.text {
  text-align: center;
}

h1 {
  line-height: 40px;
  font-size: 36px;
  font-family: "JetBrains Mono", monospace;
  color: white;

  margin-bottom: 59px;
}

section {
  font-weight: 16px;
  line-height: 28px;
  font-family: "Open Sans", sans-serif;
  color: white;
}

span {
  color: #00BFA6;
  font-weight: bold;
}

.linha {
  border: 1px solid #00BFA6;
  width: 568px;
  text-align: center;
  margin: 0 auto 0;
}

.footer {
  font-family: "JetBrains Mono", monospace;
  font-size: 14px;
  font-weight: medium;
  color: white;
  line-height: 28px;
  text-align: center;

  margin-top: 27px auto 23px;
}

.footer a:hover {
  font-weight: bold;
  color: #00BFA6;
}

#padlock {
  position: fixed;
  bottom: 20px;
  left: 20px;
}
